{{ if not .Data.edit_page}}
<div id="add_domain" class="add_domain_modal">
  <div class="modal-content">
    <span class="close-button">&times;</span>
    {{ end }} {{ if .Data.edit_page}}
    <div id="edit_domain" class="edit_domain">
      {{ end }}
      <h2>{{ if not .Data.edit_page}}Add{{else}}Edit{{end}} Domain</h2>
      <form
        class="add_domain"
        id="domainForm"
        action="{{ if .Data.edit_page}}/domain/{{.Data.domain.Id}}{{else}}/add_domain{{end}}"
        method="POST"
      >
        <input type="hidden" name="csrfToken" value="{{.CSRFToken}}" />
        {{ if .Data.edit_page}}
        <input type="hidden" name="domainId" value="{{.Data.domain.Id}}" />
        {{ end }}
        <div class="form-group">
          <label for="domainName">Domain Name</label>
          <input type="text" id="domainName" name="domainName" {{ if .Data.edit_page}}value="{{.Data.domain.Domain}}"{{end}} required />
        </div>

        <div class="toggle-group">
          <label class="toggle-label">
            Like Counter:
            <input type="checkbox" id="enableLike" name="enableLike" {{ if .Data.domain.LikesEnabled}}checked{{end}} />
            <span class="toggle-slider"></span>
            <span
              class="info-icon i"
              title="To count likes from users on blog posts/contents"
              >i</span
            >
          </label>
        </div>

        <div class="toggle-group">
          <label class="toggle-label">
            Comments:
            <input type="checkbox" id="enableComments" name="enableComments"  {{ if .Data.domain.CommentsEnabled}}checked{{end}} />
            <span class="toggle-slider"></span>
            <span
              class="info-icon i"
              title="Allow users to post comments on blogs in this domain"
              >i</span
            >
          </label>
        </div>

        <button type="submit">Submit</button>
      </form>
      {{ if .Data.edit_page}}
    </div>
    {{ end }} {{ if not .Data.edit_page}}
  </div>
</div>
{{ end }}
