<div
    id="domainModal"
    class="add_domain_modal"
>
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2 id="modalTitle">Add Domain</h2>

        <form
            id="domainForm"
            method="POST"
        >
            <input
                type="hidden"
                name="csrfToken"
                value="{{.CSRFToken}}"
            />
            <input
                type="hidden"
                id="domainId"
                name="domainId"
            />

            <div class="form-group">
                <label for="domainName">Domain Name</label>
                <input
                    type="text"
                    id="domainName"
                    name="domainName"
                    required
                />
                <p class="error-message" id="domainError"></p>
            </div>

            <div class="toggle-container">
                <div class="toggle-group">
                    <label class="toggle-label">
                        <span class="toggle-text">Like Counter</span>
                        <input
                            type="checkbox"
                            id="enableLike"
                            name="enableLike"
                        />
                        <span class="toggle-slider"></span>
                        <span
                            class="info-icon"
                            title="Count likes from users on blog posts"
                            >i</span
                        >
                    </label>
                </div>

                <div class="toggle-group">
                    <label class="toggle-label">
                        <span class="toggle-text">Comments</span>
                        <input
                            type="checkbox"
                            id="enableComments"
                            name="enableComments"
                        />
                        <span class="toggle-slider"></span>
                        <span
                            class="info-icon"
                            title="Allow users to comment on blog posts"
                            >i</span
                        >
                    </label>
                </div>
            </div>

            <button
                class="add_domain_btn"
                type="submit"
                id="submitButton"
            >
                Add Domain
            </button>
        </form>
    </div>
</div>
