<a
    href="https://github.com/prinzpiuz/BloTils"
    class="github-stats"
    id="github-stats"
    target="_blank"
    rel="noopener"
>
    <div class="github-stats__icon">
        <img
            src="/{{.Static}}/icons/github.svg"
            alt="GitHub"
        />
    </div>
    <div class="github-stats__info">
        <span class="github-stats__repo">prinzpiuz/BloTils</span>
        <ul class="github-stats__facts">
            <li
                class="github-stats__fact"
                title="Version"
            >
                <span
                    class="github-stats__fact-icon github-stats__fact-icon--tag"
                ></span>
                <span id="github-version">--</span>
            </li>
            <li
                class="github-stats__fact"
                title="Stars"
            >
                <span
                    class="github-stats__fact-icon github-stats__fact-icon--star"
                ></span>
                <span id="github-stars">--</span>
            </li>
            <li
                class="github-stats__fact"
                title="Forks"
            >
                <span
                    class="github-stats__fact-icon github-stats__fact-icon--fork"
                ></span>
                <span id="github-forks">--</span>
            </li>
        </ul>
    </div>
</a>
