{{if .Session.IsEmpty }}

<div class="top-bar">
    <div class="auth-links">
        {{ if not .Data.indexPage }}
        <a
            href="/"
            class="nav-link"
            >Home</a
        >
        {{ end }}
        {{  if not .Data.samplePage }}
        {{ if not .Data.loginPage }}
        <a
            href="/login"
            class="nav-link"
            >Sign In</a
        >
        {{ end }}
        {{ if not .Data.createAccountPage }}
        <a
            href="/create_account"
            class="nav-link"
            >Create Account</a
        >
        {{ end }}
        {{ end }}
    </div>
</div>

{{ end }}
