{{ define "content" }}

<div class="user-list-container">
  <h2>Users</h2>
  <table class="user-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Role</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Data.users }}
      <tr>
        <td>{{ .Id }}</td>
        <td>{{ .Email }}</td>
        <td>{{ .UserRole }}</td>
        <td>{{ .UserStatus }}</td>
        <td>{{ if .UserStatusRequested }}<a href="/approve_account/{{.Id}}">Approve</a> |{{ end }}
            {{ if notCurrentAdmin .Id $.Session.User.Id }}<a href="/delete_user/{{ .Id }}">Delete</a>{{ end }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>

{{ end }}
