{{ define "content" }}

<div class="user-list-container">
    <h2>Users</h2>
    <table class="user-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ range $index, $user := .Data.users }}
            <tr>
                <td>{{ add $index 1 }}</td>
                <td>{{ $user.Email }}</td>
                <td>{{ $user.UserRole }}</td>
                <td>{{ $user.UserStatus }}</td>
                <td class="actions-cell">
                    {{ if $user.UserStatusRequested }}

                        href="/approve_account/{{$user.Id}}"
                        class="action-icon approve-icon"
                        title="Approve"
                        aria-label="Approve user"
                    >
                        <img
                            src="/{{$.Static}}/icons/approve.svg"
                            alt="Approve"
                        />
                    </a>
                    {{ end }}
                    {{ if notCurrentAdmin $user.Id $.Session.User.Id }}

                        href="/delete_user/{{ $user.Id }}"
                        class="action-icon delete-icon"
                        title="Delete"
                        aria-label="Delete user"
                        onclick="
                            return confirm(
                                'Are you sure you want to delete this user?',
                            );
                        "
                    >
                        <img
                            src="/{{$.Static}}/icons/delete.svg"
                            alt="Delete"
                        />
                    </a>
                    {{ else }}
                    <span class="no-actions-text">User actions are not available for the currently logged-in admin.</span>
                    {{ end }}
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>

{{ end }}
