{{ define "content" }}

<h1>Create Account</h1>
<div id="create_account">
  <form
    id="create_account_form"
    action="/create_account"
    method="POST"
    onsubmit="return validateForm()"
  >
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required />
      <div class="error" id="emailError"></div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        minlength="8"
        pattern="^(?=.*[A-Za-z])(?=.*\d).{8,}$"
        title="At least 8 characters with 1 letter and 1 number"
      />
      <div class="password-rules">
        At least 8 characters with at least 1 letter and 1 number
      </div>
      <div class="error" id="passwordError"></div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" required />
      <div class="error" id="confirmPasswordError"></div>
    </div>
    <button type="submit">Create Account</button>
    {{if .Data.ErrorMsg}}
    <div class="error" id="all_errors">"{{.Data.ErrorMsg}}"</div>
    {{end}}
  </form>
</div>
<script src="static/js/create_account.js"></script>
{{ end }}
