{{ define "content" }}
{{ template "add_domain_modal.html" . }}
<div class="user-list-container">
    <div class="list-header">
        <h2>Configured Domains</h2>
        {{ if .Data.domains }}
        <div class="cta-buttons">
            <button id="openModalBtn">Add Domain</button>
        </div>
        {{ end }}
    </div>

    {{ if .Data.domains }}
    <table class="user-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Domain</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Data.domains }}
            <tr>
                <td>{{ .Id }}</td>
                <td>
                    <a
                        href="domain/{{.Id}}"
                        class="domain-link"
                        >{{ .Domain }}</a
                    >
                </td>
                <td>
                    <a
                        href="delete_domain/{{.Id}}"
                        class="delete-link"
                        >Delete</a
                    >
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    {{ else }}
    <div class="no-data-container">
        <p class="no-data">No Domains found.</p>
        <div class="cta-buttons">
            <button id="openModalBtn">Add Domain</button>
        </div>
    </div>
    {{ end }}
</div>
<script src="{{.Static}}/js/add_site.js"></script>
{{ end }}
