{{ define "layout" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="{{.MetaDesc}}" />
    <meta name="keywords" content="Blog, Go, Utils, Analytics, Web" />
    <meta name="author" content="prinzpiuz" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ template "favicon.html" . }}
    <title>BloTils</title>
    <link rel="stylesheet" href="static/css/main.css" />
  </head>
  <body class="{{ if .Data.indexPage }}body-without-sidebar{{ else }}body-with-sidebar{{ end }}">
    {{ if .Data.indexPage}}
        {{ template "topbar.html" . }}
        {{ template "content" . }}
    {{else}}
        {{ template "sidebar.html" . }}
        <div class="content">
        {{ template "message_layout.html" . }}
        {{ template "content" . }}
        {{ template "error_layout.html" . }}
        </div>
    {{ end }}
    {{ template "footer.html" . }}
  </body>
</html>

{{ end }}
