{{ define "layout" }}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="{{.MetaDesc}}"
        />
        <meta
            name="keywords"
            content="Blog, Go, Utils, Analytics, Web"
        />
        <meta
            name="author"
            content="prinzpiuz"
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="preconnect"
            href="https://fonts.googleapis.com"
        />
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Pacifico"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Yellowtail"
            rel="stylesheet"
        />
        {{ template "favicon.html" . }}
        <title>BloTils</title>
        <link
            rel="stylesheet"
            href="/{{.Static}}/css/main.css"
        />
    </head>
    <body>
        <div
            id="app"
            class="{{if .Session.IsEmpty}}container{{else}}session-container{{end}}"
        >
            {{ template "topbar.html" . }}
            {{ template "header.html" . }}
            {{ template "sidebar.html" . }}
            <main class="content">
                {{ template "message_layout.html" . }}
                {{ template "content" .}}
                {{ template "error_layout.html" . }}
            </main>
        </div>
        {{ template "footer.html" . }}
    <script src="/{{.Static}}/js/toggle_sidebar.js" async></script>
    </body>
</html>

{{ end }}
