{{ define "content" }}
{{ template "logo.html" . }}
<h3 class="form-heading">Reset Password</h3>
<form
  class="login-form"
  id="reset_password_form"
  action="/reset_password/{{.Data.tokenObj.Token}}"
  method="POST"
  onsubmit="return validateForm()"
>
  <input type="hidden" name="csrfToken" value="{{.CSRFToken}}" />
  <input type="hidden" name="reset_token" value="{{.Data.tokenObj.Token}}" />
  {{ template "password.html" . }}
  <button type="submit">Reset Password</button>
</form>
<script src="static/js/create_account.js"></script>

{{ end }}
