{{ define "content" }}

<h1>Reset Password</h1>
<div id="forgot_password">
  <html>
    <body>
      <form
        id="reset_password_form"
        action="/reset_password/{{.Data.tokenObj.Token}}"
        method="POST"
        onsubmit="return validateForm()"
      >
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
        <input
          type="hidden"
          name="reset_token"
          value="{{.Data.tokenObj.Token}}"
        />
        {{ template "password.html" . }}
        <button type="submit">Reset Password</button>
      </form>
    </body>
  </html>
</div>
<script src="static/js/create_account.js"></script>
{{ end }}
